@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.tarjetita{
    background-color: hsl(0, 0%, 100%);
    width: 330px;
    height: 500px;
    border-radius: 20px;
    padding: 1rem;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.imagen img{
    width: 100%;
    border-radius: 20px;
}

h2{
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin-block: 1rem;
    text-align: center;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
    
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
